{% extends 'recrut/base.html' %}

{% block content %}

<table class="table table">
<thead>




<tr>
<th>Material ID</th><th>Name</th><th>Company ID</th><th>More</th></thead>
</tr>
<tbody>
{% for material in data %}
<tr>
	<td>{{material.ID}}</td> <!-- Material ID -->
	<td>{{material.name}}</td> <!-- Material Name -->
	<td>{{material.companyID}}</td> <!-- Company ID -->
	<td><a href="{% url 'about_material' _id=material.ID %}">
			View Details</a></td>  <!-- View materials detil -->
</tr>	

{% endfor %}
</tbody>
</table>

{% endblock content %}

